.card_info {
    width: 400px;
    height: 450px;
    border-radius: 0.2rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    align-items: center;
    box-sizing: border-box;
}

.card_info image{
    object-fit: scale-down;
    width: 805px;
    height: auto;
}

.card_info p{
    margin: 0%;
}

.card_info_sprite_container{
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card_info_sprite_box{
width: 90px;
    height: 90px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #c5d4c5;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    
}