.Home_container {
    width: 100vw;
    /* margin-top: 1px; */
    /* padding-left: 0; */
    /* margin: auto; */
    /* padding-top: 30px; */
    left: 0;
    top: 70px;
    position: absolute;
    /* display: fixed; */
    /* border-color: black; */
    /* background-color: black; */
}

.Home_leftContent,
.Home_RightContent {
    flex-basis: 50%;
}

.Home_h3__black {
    color: black;
}

.Home_Buttons {
    margin-left: 6%;
    display: flex;
    width: 80vw;
}
.Home_Buttons button {
    /* outline: none; */
    border: none;
    width: 150px;
    /* padding: 0.3rem 0; */
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color:rgb(1, 80, 170);
    border-radius: 3px;
}

.Home_Buttons button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    pointer-events: none;
}

.Home_Navbar {
    /* flex: 1; */
    top: 70px;
    width: auto;
    /* margin: 10px; */
    flex: content;
    margin-left: 6%;
}

.Home_leftContent {
    display: grid;
    margin-top: 5px;
    margin-left: 7%;
    width: 40%;
    grid-template-columns: 175px 175px;
    grid-gap: 0.5rem;
}

.Home_RightContent {
    background-color: rgba(0, 0, 0, 0.079);
    width: 50%;
    height: 70%;
    /* text-align: center; */
    color: black;
    position: fixed;
    top: 20vh;
    /* top: px; */
    right: 10px;
}